.footer{
    
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 2rem 0 1.5rem;
}

footer{
    position: absolute;
    width: 100%;
}


@media (min-width: 920px) {
    .footer {
        display: flex;
        justify-content: center;
        padding: 2rem 0 1.5rem;
    }
    
    .footer-text {
        margin: 0;
        padding: 0;
    }
}